body {
    margin: 0px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

.slide-wrapper {
    overflow: hidden;
}

.slide {
    display: flex;
    &:hover {
        will-change: transform;
    }
    & li {
        flex-shrink: 0;
        width: 80vw;
        max-width: 800px;
        margin: 0 20px;
        opacity: .8;
        transform: scale(.8);
        transition: .4s;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0,0,0,.4);
    }
    & li.active {
        opacity: 1;
        transform: scale(1);
    }
}